<!DOCTYPE HTML>
<html>
<head>
	<title>VOD</title>
	<link rel="stylesheet" href="{{ asset('bundles/moovimoovi/css/bootstrap.min.css') }}" type="text/css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
    		<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
       	 			<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand" href="#">moovi</a>
    		</div>
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      		<ul class="nav navbar-nav">
	            	<li><a href="#">Kategorie</a></li>
	            	<li><a href="{{ path('moovi_movie_list') }}">Filmy</a></li>
	          	</ul>
	      		<ul class="nav navbar-nav navbar-right">
	        		<li class="dropdown">
	          			<a href="#">xmazu</a>
	        		</li>
	      		</ul>
	    	</div>
  		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				{% block menu %}{% endblock %}
			</div>

			<div class="col-md-8">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>